In [1]:
# Imports
import pandas as pd
import os 
from bs4 import BeautifulSoup as bs
from splinter import Browser
from time import sleep
import pymongo

In [2]:
#Method for scraping the tables from website.
# @param [integer]startingSeason - most recent season you want to get
# @param [integer]numberOfSeasons - number of seasons you want to get
# @param 
def scrapeTables(startingSeason, numberOfSeasons, startingObj):
    dictionary = {}
    for x in range(startingObj, (startingObj - numberOfSeasons), -1):
        element = browser.find_by_name('Season').first
        element.select(f'object:{x}')
        sleep(3)

        #Finding the stats table element in html
        html = browser.html
        soup = bs(html, 'html.parser')
        season_table = soup.table
        season_df = pd.read_html(season_table.prettify(), flavor='bs4')[0]

        #Store each season dataframe in the dictionary
        dictionary[f'{startingSeason}'] = season_df.copy()
        startingSeason += 1
    
    return dictionary

In [3]:
path= os.path.join('ChromeDriver','chromedriver.exe')
executable_path = {'executable_path':path}

browser = Browser('chrome', **executable_path, headless=False)

# Extracting data from the webiste

In [4]:
# Visit the following URL
url = "https://stats.nba.com/"
browser.visit(url)

### Players seasons tables

In [5]:
#Navigate through website the get the stats table of best players from seasons 2000 to 2019

browser.click_link_by_partial_text('See all Player Stats')
sleep(1)
html = browser.html
soup = bs(html, 'html.parser')

startingSeason = 2000
numberOfSeasons = 20

players_seasons_dict = scrapeTables(startingSeason, numberOfSeasons, 27)

D:\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [6]:
players_seasons_dict[str(startingSeason)].head()

,#,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,1,Allen Iverson,71,42.0,31.1,10.7,25.5,42.0,1.4,4.3,...,10.1,81.4,0.7,3.1,3.8,4.6,2.5,0.3,3.3,22.3
1,2,Jerry Stackhouse,80,40.2,29.8,9.7,24.1,40.2,2.1,5.9,...,10.1,82.2,1.2,2.7,3.9,5.1,1.2,0.7,4.1,20.4
2,3,Shaquille O'Neal,74,39.5,28.7,11.0,19.2,57.2,0.0,0.0,...,13.1,51.3,3.9,8.8,12.7,3.7,0.6,2.8,2.9,31.0
3,4,Kobe Bryant,68,40.9,28.5,10.3,22.2,46.4,0.9,2.9,...,8.2,85.3,1.5,4.3,5.9,5.0,1.7,0.6,3.2,25.3
4,5,Vince Carter,75,39.7,27.6,10.2,22.1,46.0,2.2,5.3,...,6.7,76.5,2.3,3.2,5.5,3.9,1.5,1.1,2.2,23.9

In [7]:
players_seasons_dict[str((startingSeason + numberOfSeasons) - 1)].head()

,#,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,1,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,2,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,3,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,4,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,5,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

### Teams seasons tables

In [8]:
#Navigate through website the get the stats table of best players from seasons

browser.click_link_by_partial_text('Teams')
sleep(1)

browser.click_link_by_partial_text('See All Stats')
sleep(1)

html = browser.html
soup = bs(html, 'html.parser')

teams_seasons_dict = scrapeTables(startingSeason, numberOfSeasons, 27)

In [9]:
teams_seasons_dict[str(startingSeason)].head()

,Unnamed: 0,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,DREB RANK,REB RANK,AST RANK,TOV RANK,STL RANK,BLK RANK,BLKA RANK,PF RANK,PFD RANK,+/- RANK
0,1,San Antonio Spurs,82,58,24,0.707,48.4,96.2,35.2,76.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Los Angeles Lakers,82,56,26,0.683,48.5,100.6,37.9,81.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Philadelphia 76ers,82,56,26,0.683,48.4,94.7,35.4,79.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Sacramento Kings,82,55,27,0.671,49.0,101.7,38.2,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Dallas Mavericks,82,53,29,0.646,48.3,100.5,37.6,81.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
teams_seasons_dict[str((startingSeason + numberOfSeasons) - 1)].head()

,Unnamed: 0,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,DREB RANK,REB RANK,AST RANK,TOV RANK,STL RANK,BLK RANK,BLKA RANK,PF RANK,PFD RANK,+/- RANK
0,1,Milwaukee Bucks,65,53,12,0.815,48.2,118.6,43.5,91.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Los Angeles Lakers,63,49,14,0.778,48.2,114.3,42.9,88.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Toronto Raptors,64,46,18,0.719,48.3,113.0,40.6,88.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,LA Clippers,64,44,20,0.688,48.2,116.2,41.6,89.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Boston Celtics,64,43,21,0.672,48.4,113.0,41.2,89.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transforming the data

In [11]:
for season in range(startingSeason, (startingSeason + numberOfSeasons), 1):
    players_seasons_dict[str(season)] = players_seasons_dict[str(season)][['#', 'Player', 'GP', 'PTS', 'REB', 'AST', 'BLK']]
    players_seasons_dict[str(season)]['SEASON'] = season
    teams_seasons_dict[str(season)].rename(columns={'Unnamed: 0':'#'}, inplace=True)
    teams_seasons_dict[str(season)] = teams_seasons_dict[str(season)][['#', 'TEAM', 'GP', 'W', 'L', 'PTS']]
    teams_seasons_dict[str(season)]['SEASON'] = season

In [12]:
players_seasons_dict[str(startingSeason)].head()

   #            Player  GP   PTS   REB  AST  BLK  SEASON
0  1     Allen Iverson  71  31.1   3.8  4.6  0.3    2000
1  2  Jerry Stackhouse  80  29.8   3.9  5.1  0.7    2000
2  3  Shaquille O'Neal  74  28.7  12.7  3.7  2.8    2000
3  4       Kobe Bryant  68  28.5   5.9  5.0  0.6    2000
4  5      Vince Carter  75  27.6   5.5  3.9  1.1    2000

In [13]:
players_seasons_dict[str((startingSeason + numberOfSeasons) - 1)].head()

   #                 Player  GP   PTS   REB  AST  BLK  SEASON
0  1           James Harden  61  34.4   6.4  7.4  0.9    2019
1  2           Bradley Beal  57  30.5   4.2  6.1  0.4    2019
2  3  Giannis Antetokounmpo  57  29.6  13.7  5.8  1.0    2019
3  4             Trae Young  60  29.6   4.3  9.3  0.1    2019
4  5         Damian Lillard  58  28.9   4.3  7.8  0.4    2019

In [14]:
teams_seasons_dict[str(startingSeason)].head()

   #                TEAM  GP   W   L    PTS  SEASON
0  1   San Antonio Spurs  82  58  24   96.2    2000
1  2  Los Angeles Lakers  82  56  26  100.6    2000
2  2  Philadelphia 76ers  82  56  26   94.7    2000
3  4    Sacramento Kings  82  55  27  101.7    2000
4  5    Dallas Mavericks  82  53  29  100.5    2000

In [15]:
teams_seasons_dict[str((startingSeason + numberOfSeasons) - 1)].head()

   #                TEAM  GP   W   L    PTS  SEASON
0  1     Milwaukee Bucks  65  53  12  118.6    2019
1  2  Los Angeles Lakers  63  49  14  114.3    2019
2  3     Toronto Raptors  64  46  18  113.0    2019
3  4         LA Clippers  64  44  20  116.2    2019
4  5      Boston Celtics  64  43  21  113.0    2019

# Loading data into MongoDB

In [16]:
#Creating connection mongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.NBA_db
players = db.players_seasons
teams = db.teams_seasons

In [20]:
for season in range(startingSeason, (startingSeason + numberOfSeasons), 1):
    df = players_seasons_dict[str(season)]
    for index, row in df.iterrows():
        data = {'rank':row['#'], 'name':row['Player'], 'games':row['GP'], 'points':row['PTS'], 
                'rebounds':row['REB'], 'assists':row['AST'], 'blocks':row['BLK'], 'season':row['SEASON']}
        players.insert(data)
        
    df = teams_seasons_dict[str(season)]
    for index, row in df.iterrows():
        data = {'rank':row['#'], 'name':row['TEAM'], 'games':row['GP'], 'wins':row['W'], 
                'loses':row['L'], 'points':row['PTS'], 'season':row['SEASON']}
        print(data)
        teams.insert(data)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  del sys.path[0]

{'rank': 1, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 58, 'loses': 24, 'points': 96.2, 'season': 2000}
{'rank': 2, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 100.6, 'season': 2000}
{'rank': 2, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 94.7, 'season': 2000}
{'rank': 4, 'name': 'Sacramento Kings', 'games': 82, 'wins': 55, 'loses': 27, 'points': 101.7, 'season': 2000}
{'rank': 5, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 53, 'loses': 29, 'points': 100.5, 'season': 2000}
{'rank': 5, 'name': 'Utah Jazz', 'games': 82, 'wins': 53, 'loses': 29, 'points': 97.1, 'season': 2000}
{'rank': 7, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 52, 'loses': 30, 'points': 100.7, 'season': 2000}
{'rank': 8, 'name': 'Phoenix Suns', 'games': 82, 'wins': 51, 'loses': 31, 'points': 94.0, 'season': 2000}
{'rank': 9, 'name': 'Miami Heat', 'games': 82, 'wins': 50, 'loses': 32, 'points': 88.9, 'season': 2000}
{'rank': 9, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 95.4, 'season': 2000}
{'rank': 11, 'name': 'New York Knicks', 'games': 82, 'wins': 48, 'loses': 34, 'points': 88.7, 'season': 2000}
{'rank': 12, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 47, 'loses': 35, 'points': 97.3, 'season': 2000}
{'rank': 12, 'name': 'Toronto Raptors', 'games': 82, 'wins': 47, 'loses': 35, 'points': 97.6, 'season': 2000}
{'rank': 14, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 46, 'loses': 36, 'points': 91.9, 'season': 2000}
{'rank': 15, 'name': 'Houston Rockets', 'games': 82, 'wins': 45, 'loses': 37, 'points': 97.2, 'season': 2000}
{'rank': 16, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 44, 'loses': 38, 'points': 97.3, 'season': 2000}
{'rank': 17, 'name': 'Orlando Magic', 'games': 82, 'wins': 43, 'loses': 39, 'points': 97.5, 'season': 2000}
{'rank': 18, 'name': 'Indiana Pacers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 92.6, 'season': 2000}
{'rank': 19, 'name': 'Denver Nuggets', 'games': 82, 'wins': 40, 'loses': 42, 'points': 96.6, 'season': 2000}
{'rank': 20, 'name': 'Boston Celtics', 'games': 82, 'wins': 36, 'loses': 46, 'points': 94.6, 'season': 2000}
{'rank': 21, 'name': 'Detroit Pistons', 'games': 82, 'wins': 32, 'loses': 50, 'points': 95.6, 'season': 2000}
{'rank': 22, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 31, 'loses': 51, 'points': 92.5, 'season': 2000}
{'rank': 23, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 30, 'loses': 52, 'points': 92.2, 'season': 2000}
{'rank': 24, 'name': 'New Jersey Nets', 'games': 82, 'wins': 26, 'loses': 56, 'points': 92.1, 'season': 2000}
{'rank': 25, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 25, 'loses': 57, 'points': 91.0, 'season': 2000}
{'rank': 26, 'name': 'Vancouver Grizzlies', 'games': 82, 'wins': 23, 'loses': 59, 'points': 91.7, 'season': 2000}
{'rank': 27, 'name': 'Washington Wizards', 'games': 82, 'wins': 19, 'loses': 63, 'points': 93.2, 'season': 2000}
{'rank': 28, 'name': 'Golden State Warriors', 'games': 82, 'wins': 17, 'loses': 65, 'points': 92.5, 'season': 2000}
{'rank': 29, 'name': 'Chicago Bulls', 'games': 82, 'wins': 15, 'loses': 67, 'points': 87.6, 'season': 2000}
{'rank': 1, 'name': 'Sacramento Kings', 'games': 82, 'wins': 61, 'loses': 21, 'points': 104.6, 'season': 2001}
{'rank': 2, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 58, 'loses': 24, 'points': 101.3, 'season': 2001}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 58, 'loses': 24, 'points': 96.7, 'season': 2001}
{'rank': 4, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 57, 'loses': 25, 'points': 105.2, 'season': 2001}
{'rank': 5, 'name': 'New Jersey Nets', 'games': 82, 'wins': 52, 'loses': 30, 'points': 96.2, 'season': 2001}
{'rank': 6, 'name': 'Detroit Pistons', 'games': 82, 'wins': 50, 'loses': 32, 'points': 94.3, 'season': 2001}
{'rank': 6, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 50, 'loses': 32, 'points': 99.3, 'season': 2001}
{'rank': 8, 'name': 'Boston Celtics', 'games': 82, 'wins': 49, 'loses': 33, 'points': 96.4, 'season': 2001}
{'rank': 8, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 49, 'loses': 33, 'points': 96.6, 'season': 2001}
{'rank': 10, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 45, 'loses': 37, 'points': 97.7, 'season': 2001}
{'rank': 11, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 44, 'loses': 38, 'points': 93.9, 'season': 2001}
{'rank': 11, 'name': 'Orlando Magic', 'games': 82, 'wins': 44, 'loses': 38, 'points': 100.5, 'season': 2001}
{'rank': 11, 'name': 'Utah Jazz', 'games': 82, 'wins': 44, 'loses': 38, 'points': 96.0, 'season': 2001}
{'rank': 14, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 43, 'loses': 39, 'points': 91.0, 'season': 2001}
{'rank': 15, 'name': 'Indiana Pacers', 'games': 82, 'wins': 42, 'loses': 40, 'points': 96.8, 'season': 2001}
{'rank': 15, 'name': 'Toronto Raptors', 'games': 82, 'wins': 42, 'loses': 40, 'points': 91.4, 'season': 2001}
{'rank': 17, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.5, 'season': 2001}
{'rank': 18, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 39, 'loses': 43, 'points': 95.7, 'season': 2001}
{'rank': 19, 'name': 'Washington Wizards', 'games': 82, 'wins': 37, 'loses': 45, 'points': 92.8, 'season': 2001}
{'rank': 20, 'name': 'Miami Heat', 'games': 82, 'wins': 36, 'loses': 46, 'points': 87.2, 'season': 2001}
{'rank': 20, 'name': 'Phoenix Suns', 'games': 82, 'wins': 36, 'loses': 46, 'points': 95.1, 'season': 2001}
{'rank': 22, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 94.0, 'season': 2001}
{'rank': 23, 'name': 'New York Knicks', 'games': 82, 'wins': 30, 'loses': 52, 'points': 91.6, 'season': 2001}
{'rank': 24, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 29, 'loses': 53, 'points': 95.3, 'season': 2001}
{'rank': 25, 'name': 'Houston Rockets', 'games': 82, 'wins': 28, 'loses': 54, 'points': 92.3, 'season': 2001}
{'rank': 26, 'name': 'Denver Nuggets', 'games': 82, 'wins': 27, 'loses': 55, 'points': 92.2, 'season': 2001}
{'rank': 27, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 23, 'loses': 59, 'points': 89.9, 'season': 2001}
{'rank': 28, 'name': 'Chicago Bulls', 'games': 82, 'wins': 21, 'loses': 61, 'points': 89.5, 'season': 2001}
{'rank': 28, 'name': 'Golden State Warriors', 'games': 82, 'wins': 21, 'loses': 61, 'points': 97.7, 'season': 2001}
{'rank': 1, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 60, 'loses': 22, 'points': 103.0, 'season': 2002}
{'rank': 1, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 60, 'loses': 22, 'points': 95.8, 'season': 2002}
{'rank': 3, 'name': 'Sacramento Kings', 'games': 82, 'wins': 59, 'loses': 23, 'points': 101.7, 'season': 2002}
{'rank': 4, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 51, 'loses': 31, 'points': 98.1, 'season': 2002}
{'rank': 5, 'name': 'Detroit Pistons', 'games': 82, 'wins': 50, 'loses': 32, 'points': 91.4, 'season': 2002}
{'rank': 5, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 100.4, 'season': 2002}
{'rank': 5, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 95.2, 'season': 2002}
{'rank': 8, 'name': 'New Jersey Nets', 'games': 82, 'wins': 49, 'loses': 33, 'points': 95.4, 'season': 2002}
{'rank': 9, 'name': 'Indiana Pacers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 96.8, 'season': 2002}
{'rank': 9, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 96.8, 'season': 2002}
{'rank': 11, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 47, 'loses': 35, 'points': 93.9, 'season': 2002}
{'rank': 11, 'name': 'Utah Jazz', 'games': 82, 'wins': 47, 'loses': 35, 'points': 94.7, 'season': 2002}
{'rank': 13, 'name': 'Boston Celtics', 'games': 82, 'wins': 44, 'loses': 38, 'points': 92.7, 'season': 2002}
{'rank': 13, 'name': 'Phoenix Suns', 'games': 82, 'wins': 44, 'loses': 38, 'points': 95.5, 'season': 2002}
{'rank': 15, 'name': 'Houston Rockets', 'games': 82, 'wins': 43, 'loses': 39, 'points': 93.8, 'season': 2002}
{'rank': 16, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 42, 'loses': 40, 'points': 99.5, 'season': 2002}
{'rank': 16, 'name': 'Orlando Magic', 'games': 82, 'wins': 42, 'loses': 40, 'points': 98.5, 'season': 2002}
{'rank': 18, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 40, 'loses': 42, 'points': 92.1, 'season': 2002}
{'rank': 19, 'name': 'Golden State Warriors', 'games': 82, 'wins': 38, 'loses': 44, 'points': 102.4, 'season': 2002}
{'rank': 20, 'name': 'New York Knicks', 'games': 82, 'wins': 37, 'loses': 45, 'points': 95.9, 'season': 2002}
{'rank': 20, 'name': 'Washington Wizards', 'games': 82, 'wins': 37, 'loses': 45, 'points': 91.5, 'season': 2002}
{'rank': 22, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 35, 'loses': 47, 'points': 94.1, 'season': 2002}
{'rank': 23, 'name': 'Chicago Bulls', 'games': 82, 'wins': 30, 'loses': 52, 'points': 95.0, 'season': 2002}
{'rank': 24, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 28, 'loses': 54, 'points': 97.5, 'season': 2002}
{'rank': 25, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 27, 'loses': 55, 'points': 93.8, 'season': 2002}
{'rank': 26, 'name': 'Miami Heat', 'games': 82, 'wins': 25, 'loses': 57, 'points': 85.6, 'season': 2002}
{'rank': 27, 'name': 'Toronto Raptors', 'games': 82, 'wins': 24, 'loses': 58, 'points': 90.9, 'season': 2002}
{'rank': 28, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 17, 'loses': 65, 'points': 91.4, 'season': 2002}
{'rank': 28, 'name': 'Denver Nuggets', 'games': 82, 'wins': 17, 'loses': 65, 'points': 84.2, 'season': 2002}

{'rank': 1, 'name': 'Indiana Pacers', 'games': 82, 'wins': 61, 'loses': 21, 'points': 91.4, 'season': 2003}
{'rank': 2, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 58, 'loses': 24, 'points': 94.5, 'season': 2003}
{'rank': 3, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 57, 'loses': 25, 'points': 91.5, 'season': 2003}
{'rank': 4, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 98.2, 'season': 2003}
{'rank': 5, 'name': 'Sacramento Kings', 'games': 82, 'wins': 55, 'loses': 27, 'points': 102.8, 'season': 2003}
{'rank': 6, 'name': 'Detroit Pistons', 'games': 82, 'wins': 54, 'loses': 28, 'points': 90.1, 'season': 2003}
{'rank': 7, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 52, 'loses': 30, 'points': 105.2, 'season': 2003}
{'rank': 8, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 50, 'loses': 32, 'points': 96.7, 'season': 2003}
{'rank': 9, 'name': 'New Jersey Nets', 'games': 82, 'wins': 47, 'loses': 35, 'points': 90.3, 'season': 2003}
{'rank': 10, 'name': 'Houston Rockets', 'games': 82, 'wins': 45, 'loses': 37, 'points': 89.8, 'season': 2003}
{'rank': 11, 'name': 'Denver Nuggets', 'games': 82, 'wins': 43, 'loses': 39, 'points': 97.2, 'season': 2003}
{'rank': 12, 'name': 'Miami Heat', 'games': 82, 'wins': 42, 'loses': 40, 'points': 90.3, 'season': 2003}
{'rank': 12, 'name': 'Utah Jazz', 'games': 82, 'wins': 42, 'loses': 40, 'points': 88.7, 'season': 2003}
{'rank': 14, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 41, 'loses': 41, 'points': 98.0, 'season': 2003}
{'rank': 14, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 41, 'loses': 41, 'points': 91.8, 'season': 2003}
{'rank': 14, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 90.7, 'season': 2003}
{'rank': 17, 'name': 'New York Knicks', 'games': 82, 'wins': 39, 'loses': 43, 'points': 92.0, 'season': 2003}
{'rank': 18, 'name': 'Golden State Warriors', 'games': 82, 'wins': 37, 'loses': 45, 'points': 93.3, 'season': 2003}
{'rank': 18, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 37, 'loses': 45, 'points': 97.1, 'season': 2003}
{'rank': 20, 'name': 'Boston Celtics', 'games': 82, 'wins': 36, 'loses': 46, 'points': 95.3, 'season': 2003}
{'rank': 21, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 35, 'loses': 47, 'points': 92.9, 'season': 2003}
{'rank': 22, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 33, 'loses': 49, 'points': 88.0, 'season': 2003}
{'rank': 22, 'name': 'Toronto Raptors', 'games': 82, 'wins': 33, 'loses': 49, 'points': 85.4, 'season': 2003}
{'rank': 24, 'name': 'Phoenix Suns', 'games': 82, 'wins': 29, 'loses': 53, 'points': 94.2, 'season': 2003}
{'rank': 25, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 28, 'loses': 54, 'points': 92.8, 'season': 2003}
{'rank': 25, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 28, 'loses': 54, 'points': 94.8, 'season': 2003}
{'rank': 27, 'name': 'Washington Wizards', 'games': 82, 'wins': 25, 'loses': 57, 'points': 91.8, 'season': 2003}
{'rank': 28, 'name': 'Chicago Bulls', 'games': 82, 'wins': 23, 'loses': 59, 'points': 89.7, 'season': 2003}
{'rank': 29, 'name': 'Orlando Magic', 'games': 82, 'wins': 21, 'loses': 61, 'points': 94.0, 'season': 2003}
{'rank': 1, 'name': 'Phoenix Suns', 'games': 82, 'wins': 62, 'loses': 20, 'points': 110.4, 'season': 2004}
{'rank': 2, 'name': 'Miami Heat', 'games': 82, 'wins': 59, 'loses': 23, 'points': 101.5, 'season': 2004}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 59, 'loses': 23, 'points': 96.2, 'season': 2004}
{'rank': 4, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 58, 'loses': 24, 'points': 102.5, 'season': 2004}
{'rank': 5, 'name': 'Detroit Pistons', 'games': 82, 'wins': 54, 'loses': 28, 'points': 93.3, 'season': 2004}
{'rank': 6, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 52, 'loses': 30, 'points': 98.9, 'season': 2004}
{'rank': 7, 'name': 'Houston Rockets', 'games': 82, 'wins': 51, 'loses': 31, 'points': 95.1, 'season': 2004}
{'rank': 8, 'name': 'Sacramento Kings', 'games': 82, 'wins': 50, 'loses': 32, 'points': 103.7, 'season': 2004}
{'rank': 9, 'name': 'Denver Nuggets', 'games': 82, 'wins': 49, 'loses': 33, 'points': 99.5, 'season': 2004}
{'rank': 10, 'name': 'Chicago Bulls', 'games': 82, 'wins': 47, 'loses': 35, 'points': 94.5, 'season': 2004}
{'rank': 11, 'name': 'Boston Celtics', 'games': 82, 'wins': 45, 'loses': 37, 'points': 101.3, 'season': 2004}
{'rank': 11, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 45, 'loses': 37, 'points': 93.4, 'season': 2004}
{'rank': 11, 'name': 'Washington Wizards', 'games': 82, 'wins': 45, 'loses': 37, 'points': 100.5, 'season': 2004}
{'rank': 14, 'name': 'Indiana Pacers', 'games': 82, 'wins': 44, 'loses': 38, 'points': 93.0, 'season': 2004}
{'rank': 14, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 44, 'loses': 38, 'points': 96.8, 'season': 2004}
{'rank': 16, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 43, 'loses': 39, 'points': 99.1, 'season': 2004}
{'rank': 17, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 42, 'loses': 40, 'points': 96.5, 'season': 2004}
{'rank': 17, 'name': 'New Jersey Nets', 'games': 82, 'wins': 42, 'loses': 40, 'points': 91.4, 'season': 2004}
{'rank': 19, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 37, 'loses': 45, 'points': 95.7, 'season': 2004}
{'rank': 20, 'name': 'Orlando Magic', 'games': 82, 'wins': 36, 'loses': 46, 'points': 99.5, 'season': 2004}
{'rank': 21, 'name': 'Golden State Warriors', 'games': 82, 'wins': 34, 'loses': 48, 'points': 98.7, 'season': 2004}
{'rank': 21, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 34, 'loses': 48, 'points': 98.7, 'season': 2004}
{'rank': 23, 'name': 'New York Knicks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 97.3, 'season': 2004}
{'rank': 23, 'name': 'Toronto Raptors', 'games': 82, 'wins': 33, 'loses': 49, 'points': 99.7, 'season': 2004}
{'rank': 25, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 30, 'loses': 52, 'points': 97.2, 'season': 2004}
{'rank': 26, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 27, 'loses': 55, 'points': 92.9, 'season': 2004}
{'rank': 27, 'name': 'Utah Jazz', 'games': 82, 'wins': 26, 'loses': 56, 'points': 93.0, 'season': 2004}
{'rank': 28, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 18, 'loses': 64, 'points': 94.3, 'season': 2004}
{'rank': 28, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 18, 'loses': 64, 'points': 88.4, 'season': 2004}
{'rank': 30, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 13, 'loses': 69, 'points': 92.7, 'season': 2004}
{'rank': 1, 'name': 'Detroit Pistons', 'games': 82, 'wins': 64, 'loses': 18, 'points': 96.8, 'season': 2005}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 63, 'loses': 19, 'points': 95.6, 'season': 2005}
{'rank': 3, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 60, 'loses': 22, 'points': 99.1, 'season': 2005}
{'rank': 4, 'name': 'Phoenix Suns', 'games': 82, 'wins': 54, 'loses': 28, 'points': 108.4, 'season': 2005}
{'rank': 5, 'name': 'Miami Heat', 'games': 82, 'wins': 52, 'loses': 30, 'points': 99.9, 'season': 2005}
{'rank': 6, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 97.6, 'season': 2005}
{'rank': 7, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 49, 'loses': 33, 'points': 92.2, 'season': 2005}
{'rank': 7, 'name': 'New Jersey Nets', 'games': 82, 'wins': 49, 'loses': 33, 'points': 93.8, 'season': 2005}
{'rank': 9, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 47, 'loses': 35, 'points': 97.2, 'season': 2005}
{'rank': 10, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 45, 'loses': 37, 'points': 99.4, 'season': 2005}
{'rank': 11, 'name': 'Denver Nuggets', 'games': 82, 'wins': 44, 'loses': 38, 'points': 100.3, 'season': 2005}
{'rank': 11, 'name': 'Sacramento Kings', 'games': 82, 'wins': 44, 'loses': 38, 'points': 98.9, 'season': 2005}
{'rank': 13, 'name': 'Washington Wizards', 'games': 82, 'wins': 42, 'loses': 40, 'points': 101.7, 'season': 2005}
{'rank': 14, 'name': 'Chicago Bulls', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.8, 'season': 2005}
{'rank': 14, 'name': 'Indiana Pacers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 93.9, 'season': 2005}
{'rank': 14, 'name': 'Utah Jazz', 'games': 82, 'wins': 41, 'loses': 41, 'points': 92.4, 'season': 2005}
{'rank': 17, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 40, 'loses': 42, 'points': 97.8, 'season': 2005}
{'rank': 18, 'name': 'New Orleans/Oklahoma City Hornets', 'games': 82, 'wins': 38, 'loses': 44, 'points': 92.8, 'season': 2005}
{'rank': 18, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 38, 'loses': 44, 'points': 99.4, 'season': 2005}
{'rank': 20, 'name': 'Orlando Magic', 'games': 82, 'wins': 36, 'loses': 46, 'points': 94.9, 'season': 2005}
{'rank': 21, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 35, 'loses': 47, 'points': 102.6, 'season': 2005}
{'rank': 22, 'name': 'Golden State Warriors', 'games': 82, 'wins': 34, 'loses': 48, 'points': 98.5, 'season': 2005}
{'rank': 22, 'name': 'Houston Rockets', 'games': 82, 'wins': 34, 'loses': 48, 'points': 90.1, 'season': 2005}
{'rank': 24, 'name': 'Boston Celtics', 'games': 82, 'wins': 33, 'loses': 49, 'points': 98.0, 'season': 2005}
{'rank': 24, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 33, 'loses': 49, 'points': 91.7, 'season': 2005}
{'rank': 26, 'name': 'Toronto Raptors', 'games': 82, 'wins': 27, 'loses': 55, 'points': 101.1, 'season': 2005}
{'rank': 27, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 26, 'loses': 56, 'points': 97.2, 'season': 2005}
{'rank': 27, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 26, 'loses': 56, 'points': 96.9, 'season': 2005}
{'rank': 29, 'name': 'New York Knicks', 'games': 82, 'wins': 23, 'loses': 59, 'points': 95.6, 'season': 2005}
{'rank': 30, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 21, 'loses': 61, 'points': 88.8, 'season': 2005}
{'rank': 1, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 67, 'loses': 15, 'points': 100.0, 'season': 2006}

{'rank': 2, 'name': 'Phoenix Suns', 'games': 82, 'wins': 61, 'loses': 21, 'points': 110.2, 'season': 2006}
{'rank': 3, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 58, 'loses': 24, 'points': 98.5, 'season': 2006}
{'rank': 4, 'name': 'Detroit Pistons', 'games': 82, 'wins': 53, 'loses': 29, 'points': 96.0, 'season': 2006}
{'rank': 5, 'name': 'Houston Rockets', 'games': 82, 'wins': 52, 'loses': 30, 'points': 97.0, 'season': 2006}
{'rank': 6, 'name': 'Utah Jazz', 'games': 82, 'wins': 51, 'loses': 31, 'points': 101.5, 'season': 2006}
{'rank': 7, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 96.8, 'season': 2006}
{'rank': 8, 'name': 'Chicago Bulls', 'games': 82, 'wins': 49, 'loses': 33, 'points': 98.8, 'season': 2006}
{'rank': 9, 'name': 'Toronto Raptors', 'games': 82, 'wins': 47, 'loses': 35, 'points': 99.5, 'season': 2006}
{'rank': 10, 'name': 'Denver Nuggets', 'games': 82, 'wins': 45, 'loses': 37, 'points': 105.4, 'season': 2006}
{'rank': 11, 'name': 'Miami Heat', 'games': 82, 'wins': 44, 'loses': 38, 'points': 94.6, 'season': 2006}
{'rank': 12, 'name': 'Golden State Warriors', 'games': 82, 'wins': 42, 'loses': 40, 'points': 106.5, 'season': 2006}
{'rank': 12, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 42, 'loses': 40, 'points': 103.3, 'season': 2006}
{'rank': 14, 'name': 'New Jersey Nets', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.6, 'season': 2006}
{'rank': 14, 'name': 'Washington Wizards', 'games': 82, 'wins': 41, 'loses': 41, 'points': 104.3, 'season': 2006}
{'rank': 16, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 40, 'loses': 42, 'points': 95.6, 'season': 2006}
{'rank': 16, 'name': 'Orlando Magic', 'games': 82, 'wins': 40, 'loses': 42, 'points': 94.8, 'season': 2006}
{'rank': 18, 'name': 'New Orleans/Oklahoma City Hornets', 'games': 82, 'wins': 39, 'loses': 43, 'points': 95.5, 'season': 2006}
{'rank': 19, 'name': 'Indiana Pacers', 'games': 82, 'wins': 35, 'loses': 47, 'points': 95.6, 'season': 2006}
{'rank': 19, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 35, 'loses': 47, 'points': 94.9, 'season': 2006}
{'rank': 21, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 33, 'loses': 49, 'points': 96.9, 'season': 2006}
{'rank': 21, 'name': 'New York Knicks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 97.5, 'season': 2006}
{'rank': 21, 'name': 'Sacramento Kings', 'games': 82, 'wins': 33, 'loses': 49, 'points': 101.3, 'season': 2006}
{'rank': 24, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 32, 'loses': 50, 'points': 96.1, 'season': 2006}
{'rank': 24, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 32, 'loses': 50, 'points': 94.1, 'season': 2006}
{'rank': 26, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 31, 'loses': 51, 'points': 99.1, 'season': 2006}
{'rank': 27, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 30, 'loses': 52, 'points': 93.7, 'season': 2006}
{'rank': 28, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 28, 'loses': 54, 'points': 99.7, 'season': 2006}
{'rank': 29, 'name': 'Boston Celtics', 'games': 82, 'wins': 24, 'loses': 58, 'points': 95.8, 'season': 2006}
{'rank': 30, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 22, 'loses': 60, 'points': 101.6, 'season': 2006}
{'rank': 1, 'name': 'Boston Celtics', 'games': 82, 'wins': 66, 'loses': 16, 'points': 100.5, 'season': 2007}
{'rank': 2, 'name': 'Detroit Pistons', 'games': 82, 'wins': 59, 'loses': 23, 'points': 97.5, 'season': 2007}
{'rank': 3, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 57, 'loses': 25, 'points': 108.6, 'season': 2007}
{'rank': 4, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 56, 'loses': 26, 'points': 100.9, 'season': 2007}
{'rank': 4, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 56, 'loses': 26, 'points': 95.4, 'season': 2007}
{'rank': 6, 'name': 'Houston Rockets', 'games': 82, 'wins': 55, 'loses': 27, 'points': 96.7, 'season': 2007}
{'rank': 6, 'name': 'Phoenix Suns', 'games': 82, 'wins': 55, 'loses': 27, 'points': 110.1, 'season': 2007}
{'rank': 8, 'name': 'Utah Jazz', 'games': 82, 'wins': 54, 'loses': 28, 'points': 106.2, 'season': 2007}
{'rank': 9, 'name': 'Orlando Magic', 'games': 82, 'wins': 52, 'loses': 30, 'points': 104.5, 'season': 2007}
{'rank': 10, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 51, 'loses': 31, 'points': 100.4, 'season': 2007}
{'rank': 11, 'name': 'Denver Nuggets', 'games': 82, 'wins': 50, 'loses': 32, 'points': 110.7, 'season': 2007}
{'rank': 12, 'name': 'Golden State Warriors', 'games': 82, 'wins': 48, 'loses': 34, 'points': 111.0, 'season': 2007}
{'rank': 13, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 45, 'loses': 37, 'points': 96.4, 'season': 2007}
{'rank': 14, 'name': 'Washington Wizards', 'games': 82, 'wins': 43, 'loses': 39, 'points': 98.8, 'season': 2007}
{'rank': 15, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 95.4, 'season': 2007}
{'rank': 15, 'name': 'Toronto Raptors', 'games': 82, 'wins': 41, 'loses': 41, 'points': 100.2, 'season': 2007}
{'rank': 17, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 40, 'loses': 42, 'points': 96.6, 'season': 2007}
{'rank': 18, 'name': 'Sacramento Kings', 'games': 82, 'wins': 38, 'loses': 44, 'points': 102.5, 'season': 2007}
{'rank': 19, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 37, 'loses': 45, 'points': 98.2, 'season': 2007}
{'rank': 20, 'name': 'Indiana Pacers', 'games': 82, 'wins': 36, 'loses': 46, 'points': 104.0, 'season': 2007}
{'rank': 21, 'name': 'New Jersey Nets', 'games': 82, 'wins': 34, 'loses': 48, 'points': 95.8, 'season': 2007}
{'rank': 22, 'name': 'Chicago Bulls', 'games': 82, 'wins': 33, 'loses': 49, 'points': 97.3, 'season': 2007}
{'rank': 23, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 32, 'loses': 50, 'points': 97.1, 'season': 2007}
{'rank': 24, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 26, 'loses': 56, 'points': 97.0, 'season': 2007}
{'rank': 25, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 23, 'loses': 59, 'points': 93.8, 'season': 2007}
{'rank': 25, 'name': 'New York Knicks', 'games': 82, 'wins': 23, 'loses': 59, 'points': 96.9, 'season': 2007}
{'rank': 27, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 22, 'loses': 60, 'points': 100.7, 'season': 2007}
{'rank': 27, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 22, 'loses': 60, 'points': 95.6, 'season': 2007}
{'rank': 29, 'name': 'Seattle SuperSonics', 'games': 82, 'wins': 20, 'loses': 62, 'points': 97.5, 'season': 2007}
{'rank': 30, 'name': 'Miami Heat', 'games': 82, 'wins': 15, 'loses': 67, 'points': 91.4, 'season': 2007}
{'rank': 1, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 66, 'loses': 16, 'points': 100.3, 'season': 2008}
{'rank': 2, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 65, 'loses': 17, 'points': 106.9, 'season': 2008}
{'rank': 3, 'name': 'Boston Celtics', 'games': 82, 'wins': 62, 'loses': 20, 'points': 100.9, 'season': 2008}
{'rank': 4, 'name': 'Orlando Magic', 'games': 82, 'wins': 59, 'loses': 23, 'points': 101.0, 'season': 2008}
{'rank': 5, 'name': 'Denver Nuggets', 'games': 82, 'wins': 54, 'loses': 28, 'points': 104.3, 'season': 2008}
{'rank': 5, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 54, 'loses': 28, 'points': 99.4, 'season': 2008}
{'rank': 5, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 54, 'loses': 28, 'points': 97.0, 'season': 2008}
{'rank': 8, 'name': 'Houston Rockets', 'games': 82, 'wins': 53, 'loses': 29, 'points': 98.4, 'season': 2008}
{'rank': 9, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 50, 'loses': 32, 'points': 101.7, 'season': 2008}
{'rank': 10, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 49, 'loses': 33, 'points': 95.8, 'season': 2008}
{'rank': 11, 'name': 'Utah Jazz', 'games': 82, 'wins': 48, 'loses': 34, 'points': 103.6, 'season': 2008}
{'rank': 12, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 47, 'loses': 35, 'points': 98.1, 'season': 2008}
{'rank': 13, 'name': 'Phoenix Suns', 'games': 82, 'wins': 46, 'loses': 36, 'points': 109.4, 'season': 2008}
{'rank': 14, 'name': 'Miami Heat', 'games': 82, 'wins': 43, 'loses': 39, 'points': 98.3, 'season': 2008}
{'rank': 15, 'name': 'Chicago Bulls', 'games': 82, 'wins': 41, 'loses': 41, 'points': 102.2, 'season': 2008}
{'rank': 15, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.4, 'season': 2008}
{'rank': 17, 'name': 'Detroit Pistons', 'games': 82, 'wins': 39, 'loses': 43, 'points': 94.2, 'season': 2008}
{'rank': 18, 'name': 'Indiana Pacers', 'games': 82, 'wins': 36, 'loses': 46, 'points': 105.1, 'season': 2008}
{'rank': 19, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 35, 'loses': 47, 'points': 93.6, 'season': 2008}
{'rank': 20, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 34, 'loses': 48, 'points': 99.3, 'season': 2008}
{'rank': 20, 'name': 'New Jersey Nets', 'games': 82, 'wins': 34, 'loses': 48, 'points': 98.1, 'season': 2008}
{'rank': 22, 'name': 'Toronto Raptors', 'games': 82, 'wins': 33, 'loses': 49, 'points': 99.0, 'season': 2008}
{'rank': 23, 'name': 'New York Knicks', 'games': 82, 'wins': 32, 'loses': 50, 'points': 105.2, 'season': 2008}
{'rank': 24, 'name': 'Golden State Warriors', 'games': 82, 'wins': 29, 'loses': 53, 'points': 108.6, 'season': 2008}
{'rank': 25, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 24, 'loses': 58, 'points': 93.9, 'season': 2008}
{'rank': 25, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 24, 'loses': 58, 'points': 97.8, 'season': 2008}
{'rank': 27, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 23, 'loses': 59, 'points': 97.0, 'season': 2008}
{'rank': 28, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 19, 'loses': 63, 'points': 95.1, 'season': 2008}
{'rank': 28, 'name': 'Washington Wizards', 'games': 82, 'wins': 19, 'loses': 63, 'points': 96.1, 'season': 2008}
{'rank': 30, 'name': 'Sacramento Kings', 'games': 82, 'wins': 17, 'loses': 65, 'points': 100.6, 'season': 2008}
{'rank': 1, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 61, 'loses': 21, 'points': 102.1, 'season': 2009}

{'rank': 2, 'name': 'Orlando Magic', 'games': 82, 'wins': 59, 'loses': 23, 'points': 102.8, 'season': 2009}
{'rank': 3, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 57, 'loses': 25, 'points': 101.7, 'season': 2009}
{'rank': 4, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 55, 'loses': 27, 'points': 102.0, 'season': 2009}
{'rank': 5, 'name': 'Phoenix Suns', 'games': 82, 'wins': 54, 'loses': 28, 'points': 110.2, 'season': 2009}
{'rank': 6, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 53, 'loses': 29, 'points': 101.7, 'season': 2009}
{'rank': 6, 'name': 'Denver Nuggets', 'games': 82, 'wins': 53, 'loses': 29, 'points': 106.5, 'season': 2009}
{'rank': 6, 'name': 'Utah Jazz', 'games': 82, 'wins': 53, 'loses': 29, 'points': 104.2, 'season': 2009}
{'rank': 9, 'name': 'Boston Celtics', 'games': 82, 'wins': 50, 'loses': 32, 'points': 99.2, 'season': 2009}
{'rank': 9, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 50, 'loses': 32, 'points': 101.5, 'season': 2009}
{'rank': 9, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 98.1, 'season': 2009}
{'rank': 9, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 50, 'loses': 32, 'points': 101.4, 'season': 2009}
{'rank': 13, 'name': 'Miami Heat', 'games': 82, 'wins': 47, 'loses': 35, 'points': 96.5, 'season': 2009}
{'rank': 14, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 46, 'loses': 36, 'points': 97.7, 'season': 2009}
{'rank': 15, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 44, 'loses': 38, 'points': 95.3, 'season': 2009}
{'rank': 16, 'name': 'Houston Rockets', 'games': 82, 'wins': 42, 'loses': 40, 'points': 102.4, 'season': 2009}
{'rank': 17, 'name': 'Chicago Bulls', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.5, 'season': 2009}
{'rank': 18, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 40, 'loses': 42, 'points': 102.5, 'season': 2009}
{'rank': 18, 'name': 'Toronto Raptors', 'games': 82, 'wins': 40, 'loses': 42, 'points': 104.1, 'season': 2009}
{'rank': 20, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 37, 'loses': 45, 'points': 100.2, 'season': 2009}
{'rank': 21, 'name': 'Indiana Pacers', 'games': 82, 'wins': 32, 'loses': 50, 'points': 100.8, 'season': 2009}
{'rank': 22, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 29, 'loses': 53, 'points': 95.7, 'season': 2009}
{'rank': 22, 'name': 'New York Knicks', 'games': 82, 'wins': 29, 'loses': 53, 'points': 102.1, 'season': 2009}
{'rank': 24, 'name': 'Detroit Pistons', 'games': 82, 'wins': 27, 'loses': 55, 'points': 94.0, 'season': 2009}
{'rank': 24, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 27, 'loses': 55, 'points': 97.7, 'season': 2009}
{'rank': 26, 'name': 'Golden State Warriors', 'games': 82, 'wins': 26, 'loses': 56, 'points': 108.8, 'season': 2009}
{'rank': 26, 'name': 'Washington Wizards', 'games': 82, 'wins': 26, 'loses': 56, 'points': 96.2, 'season': 2009}
{'rank': 28, 'name': 'Sacramento Kings', 'games': 82, 'wins': 25, 'loses': 57, 'points': 100.0, 'season': 2009}
{'rank': 29, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 15, 'loses': 67, 'points': 98.2, 'season': 2009}
{'rank': 30, 'name': 'New Jersey Nets', 'games': 82, 'wins': 12, 'loses': 70, 'points': 92.4, 'season': 2009}
{'rank': 1, 'name': 'Chicago Bulls', 'games': 82, 'wins': 62, 'loses': 20, 'points': 98.6, 'season': 2010}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 61, 'loses': 21, 'points': 103.7, 'season': 2010}
{'rank': 3, 'name': 'Miami Heat', 'games': 82, 'wins': 58, 'loses': 24, 'points': 102.1, 'season': 2010}
{'rank': 4, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 57, 'loses': 25, 'points': 100.2, 'season': 2010}
{'rank': 4, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 57, 'loses': 25, 'points': 101.5, 'season': 2010}
{'rank': 6, 'name': 'Boston Celtics', 'games': 82, 'wins': 56, 'loses': 26, 'points': 96.5, 'season': 2010}
{'rank': 7, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 55, 'loses': 27, 'points': 104.8, 'season': 2010}
{'rank': 8, 'name': 'Orlando Magic', 'games': 82, 'wins': 52, 'loses': 30, 'points': 99.2, 'season': 2010}
{'rank': 9, 'name': 'Denver Nuggets', 'games': 82, 'wins': 50, 'loses': 32, 'points': 107.5, 'season': 2010}
{'rank': 10, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 96.3, 'season': 2010}
{'rank': 11, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 46, 'loses': 36, 'points': 99.9, 'season': 2010}
{'rank': 11, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 46, 'loses': 36, 'points': 94.9, 'season': 2010}
{'rank': 13, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 44, 'loses': 38, 'points': 95.0, 'season': 2010}
{'rank': 14, 'name': 'Houston Rockets', 'games': 82, 'wins': 43, 'loses': 39, 'points': 105.9, 'season': 2010}
{'rank': 15, 'name': 'New York Knicks', 'games': 82, 'wins': 42, 'loses': 40, 'points': 106.5, 'season': 2010}
{'rank': 16, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 99.0, 'season': 2010}
{'rank': 17, 'name': 'Phoenix Suns', 'games': 82, 'wins': 40, 'loses': 42, 'points': 105.0, 'season': 2010}
{'rank': 18, 'name': 'Utah Jazz', 'games': 82, 'wins': 39, 'loses': 43, 'points': 99.4, 'season': 2010}
{'rank': 19, 'name': 'Indiana Pacers', 'games': 82, 'wins': 37, 'loses': 45, 'points': 99.8, 'season': 2010}
{'rank': 20, 'name': 'Golden State Warriors', 'games': 82, 'wins': 36, 'loses': 46, 'points': 103.4, 'season': 2010}
{'rank': 21, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 35, 'loses': 47, 'points': 91.9, 'season': 2010}
{'rank': 22, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 34, 'loses': 48, 'points': 93.3, 'season': 2010}
{'rank': 23, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 32, 'loses': 50, 'points': 98.6, 'season': 2010}
{'rank': 24, 'name': 'Detroit Pistons', 'games': 82, 'wins': 30, 'loses': 52, 'points': 97.0, 'season': 2010}
{'rank': 25, 'name': 'New Jersey Nets', 'games': 82, 'wins': 24, 'loses': 58, 'points': 94.2, 'season': 2010}
{'rank': 25, 'name': 'Sacramento Kings', 'games': 82, 'wins': 24, 'loses': 58, 'points': 99.4, 'season': 2010}
{'rank': 27, 'name': 'Washington Wizards', 'games': 82, 'wins': 23, 'loses': 59, 'points': 97.3, 'season': 2010}
{'rank': 28, 'name': 'Toronto Raptors', 'games': 82, 'wins': 22, 'loses': 60, 'points': 99.1, 'season': 2010}
{'rank': 29, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 19, 'loses': 63, 'points': 95.5, 'season': 2010}
{'rank': 30, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 17, 'loses': 65, 'points': 101.1, 'season': 2010}
{'rank': 1, 'name': 'Chicago Bulls', 'games': 66, 'wins': 50, 'loses': 16, 'points': 96.3, 'season': 2011}
{'rank': 1, 'name': 'San Antonio Spurs', 'games': 66, 'wins': 50, 'loses': 16, 'points': 103.7, 'season': 2011}
{'rank': 3, 'name': 'Oklahoma City Thunder', 'games': 66, 'wins': 47, 'loses': 19, 'points': 103.1, 'season': 2011}
{'rank': 4, 'name': 'Miami Heat', 'games': 66, 'wins': 46, 'loses': 20, 'points': 98.5, 'season': 2011}
{'rank': 5, 'name': 'Indiana Pacers', 'games': 66, 'wins': 42, 'loses': 24, 'points': 97.7, 'season': 2011}
{'rank': 6, 'name': 'Los Angeles Lakers', 'games': 66, 'wins': 41, 'loses': 25, 'points': 97.3, 'season': 2011}
{'rank': 6, 'name': 'Memphis Grizzlies', 'games': 66, 'wins': 41, 'loses': 25, 'points': 95.0, 'season': 2011}
{'rank': 8, 'name': 'Atlanta Hawks', 'games': 66, 'wins': 40, 'loses': 26, 'points': 96.6, 'season': 2011}
{'rank': 8, 'name': 'Los Angeles Clippers', 'games': 66, 'wins': 40, 'loses': 26, 'points': 97.5, 'season': 2011}
{'rank': 10, 'name': 'Boston Celtics', 'games': 66, 'wins': 39, 'loses': 27, 'points': 91.8, 'season': 2011}
{'rank': 11, 'name': 'Denver Nuggets', 'games': 66, 'wins': 38, 'loses': 28, 'points': 104.1, 'season': 2011}
{'rank': 12, 'name': 'Orlando Magic', 'games': 66, 'wins': 37, 'loses': 29, 'points': 94.2, 'season': 2011}
{'rank': 13, 'name': 'Dallas Mavericks', 'games': 66, 'wins': 36, 'loses': 30, 'points': 95.8, 'season': 2011}
{'rank': 13, 'name': 'New York Knicks', 'games': 66, 'wins': 36, 'loses': 30, 'points': 97.8, 'season': 2011}
{'rank': 13, 'name': 'Utah Jazz', 'games': 66, 'wins': 36, 'loses': 30, 'points': 99.7, 'season': 2011}
{'rank': 16, 'name': 'Philadelphia 76ers', 'games': 66, 'wins': 35, 'loses': 31, 'points': 93.6, 'season': 2011}
{'rank': 17, 'name': 'Houston Rockets', 'games': 66, 'wins': 34, 'loses': 32, 'points': 98.1, 'season': 2011}
{'rank': 18, 'name': 'Phoenix Suns', 'games': 66, 'wins': 33, 'loses': 33, 'points': 98.4, 'season': 2011}
{'rank': 19, 'name': 'Milwaukee Bucks', 'games': 66, 'wins': 31, 'loses': 35, 'points': 99.0, 'season': 2011}
{'rank': 20, 'name': 'Portland Trail Blazers', 'games': 66, 'wins': 28, 'loses': 38, 'points': 97.2, 'season': 2011}
{'rank': 21, 'name': 'Minnesota Timberwolves', 'games': 66, 'wins': 26, 'loses': 40, 'points': 97.9, 'season': 2011}
{'rank': 22, 'name': 'Detroit Pistons', 'games': 66, 'wins': 25, 'loses': 41, 'points': 90.9, 'season': 2011}
{'rank': 23, 'name': 'Golden State Warriors', 'games': 66, 'wins': 23, 'loses': 43, 'points': 97.8, 'season': 2011}
{'rank': 23, 'name': 'Toronto Raptors', 'games': 66, 'wins': 23, 'loses': 43, 'points': 90.7, 'season': 2011}
{'rank': 25, 'name': 'New Jersey Nets', 'games': 66, 'wins': 22, 'loses': 44, 'points': 93.1, 'season': 2011}
{'rank': 25, 'name': 'Sacramento Kings', 'games': 66, 'wins': 22, 'loses': 44, 'points': 98.8, 'season': 2011}
{'rank': 27, 'name': 'Cleveland Cavaliers', 'games': 66, 'wins': 21, 'loses': 45, 'points': 93.0, 'season': 2011}
{'rank': 27, 'name': 'New Orleans Hornets', 'games': 66, 'wins': 21, 'loses': 45, 'points': 89.6, 'season': 2011}
{'rank': 29, 'name': 'Washington Wizards', 'games': 66, 'wins': 20, 'loses': 46, 'points': 93.6, 'season': 2011}
{'rank': 30, 'name': 'Charlotte Bobcats', 'games': 66, 'wins': 7, 'loses': 59, 'points': 87.0, 'season': 2011}
{'rank': 1, 'name': 'Miami Heat', 'games': 82, 'wins': 66, 'loses': 16, 'points': 102.9, 'season': 2012}

{'rank': 2, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 60, 'loses': 22, 'points': 105.7, 'season': 2012}
{'rank': 3, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 58, 'loses': 24, 'points': 103.0, 'season': 2012}
{'rank': 4, 'name': 'Denver Nuggets', 'games': 82, 'wins': 57, 'loses': 25, 'points': 106.1, 'season': 2012}
{'rank': 5, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 101.1, 'season': 2012}
{'rank': 5, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 56, 'loses': 26, 'points': 93.4, 'season': 2012}
{'rank': 7, 'name': 'New York Knicks', 'games': 82, 'wins': 54, 'loses': 28, 'points': 100.0, 'season': 2012}
{'rank': 8, 'name': 'Indiana Pacers', 'games': 81, 'wins': 49, 'loses': 32, 'points': 94.7, 'season': 2012}
{'rank': 9, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 49, 'loses': 33, 'points': 96.9, 'season': 2012}
{'rank': 10, 'name': 'Golden State Warriors', 'games': 82, 'wins': 47, 'loses': 35, 'points': 101.2, 'season': 2012}
{'rank': 11, 'name': 'Chicago Bulls', 'games': 82, 'wins': 45, 'loses': 37, 'points': 93.2, 'season': 2012}
{'rank': 11, 'name': 'Houston Rockets', 'games': 82, 'wins': 45, 'loses': 37, 'points': 106.0, 'season': 2012}
{'rank': 11, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 45, 'loses': 37, 'points': 102.2, 'season': 2012}
{'rank': 14, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 44, 'loses': 38, 'points': 98.0, 'season': 2012}
{'rank': 15, 'name': 'Utah Jazz', 'games': 82, 'wins': 43, 'loses': 39, 'points': 98.0, 'season': 2012}
{'rank': 16, 'name': 'Boston Celtics', 'games': 81, 'wins': 41, 'loses': 40, 'points': 96.5, 'season': 2012}
{'rank': 17, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 41, 'loses': 41, 'points': 101.1, 'season': 2012}
{'rank': 18, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 38, 'loses': 44, 'points': 98.9, 'season': 2012}
{'rank': 19, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 34, 'loses': 48, 'points': 93.2, 'season': 2012}
{'rank': 19, 'name': 'Toronto Raptors', 'games': 82, 'wins': 34, 'loses': 48, 'points': 97.2, 'season': 2012}
{'rank': 21, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 33, 'loses': 49, 'points': 97.5, 'season': 2012}
{'rank': 22, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 31, 'loses': 51, 'points': 95.7, 'season': 2012}
{'rank': 23, 'name': 'Detroit Pistons', 'games': 82, 'wins': 29, 'loses': 53, 'points': 94.9, 'season': 2012}
{'rank': 23, 'name': 'Washington Wizards', 'games': 82, 'wins': 29, 'loses': 53, 'points': 93.2, 'season': 2012}
{'rank': 25, 'name': 'Sacramento Kings', 'games': 82, 'wins': 28, 'loses': 54, 'points': 100.2, 'season': 2012}
{'rank': 26, 'name': 'New Orleans Hornets', 'games': 82, 'wins': 27, 'loses': 55, 'points': 94.1, 'season': 2012}
{'rank': 27, 'name': 'Phoenix Suns', 'games': 82, 'wins': 25, 'loses': 57, 'points': 95.2, 'season': 2012}
{'rank': 28, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 24, 'loses': 58, 'points': 96.5, 'season': 2012}
{'rank': 29, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 21, 'loses': 61, 'points': 93.4, 'season': 2012}
{'rank': 30, 'name': 'Orlando Magic', 'games': 82, 'wins': 20, 'loses': 62, 'points': 94.1, 'season': 2012}
{'rank': 1, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 62, 'loses': 20, 'points': 105.4, 'season': 2013}
{'rank': 2, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 59, 'loses': 23, 'points': 106.2, 'season': 2013}
{'rank': 3, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 57, 'loses': 25, 'points': 107.9, 'season': 2013}
{'rank': 4, 'name': 'Indiana Pacers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 96.7, 'season': 2013}
{'rank': 5, 'name': 'Houston Rockets', 'games': 82, 'wins': 54, 'loses': 28, 'points': 107.7, 'season': 2013}
{'rank': 5, 'name': 'Miami Heat', 'games': 82, 'wins': 54, 'loses': 28, 'points': 102.2, 'season': 2013}
{'rank': 5, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 54, 'loses': 28, 'points': 106.7, 'season': 2013}
{'rank': 8, 'name': 'Golden State Warriors', 'games': 82, 'wins': 51, 'loses': 31, 'points': 104.3, 'season': 2013}
{'rank': 9, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 50, 'loses': 32, 'points': 96.1, 'season': 2013}
{'rank': 10, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 49, 'loses': 33, 'points': 104.8, 'season': 2013}
{'rank': 11, 'name': 'Chicago Bulls', 'games': 82, 'wins': 48, 'loses': 34, 'points': 93.7, 'season': 2013}
{'rank': 11, 'name': 'Phoenix Suns', 'games': 82, 'wins': 48, 'loses': 34, 'points': 105.2, 'season': 2013}
{'rank': 11, 'name': 'Toronto Raptors', 'games': 82, 'wins': 48, 'loses': 34, 'points': 101.3, 'season': 2013}
{'rank': 14, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 44, 'loses': 38, 'points': 98.5, 'season': 2013}
{'rank': 14, 'name': 'Washington Wizards', 'games': 82, 'wins': 44, 'loses': 38, 'points': 100.7, 'season': 2013}
{'rank': 16, 'name': 'Charlotte Bobcats', 'games': 82, 'wins': 43, 'loses': 39, 'points': 96.9, 'season': 2013}
{'rank': 17, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 40, 'loses': 42, 'points': 106.9, 'season': 2013}
{'rank': 18, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 38, 'loses': 44, 'points': 101.0, 'season': 2013}
{'rank': 19, 'name': 'New York Knicks', 'games': 82, 'wins': 37, 'loses': 45, 'points': 98.6, 'season': 2013}
{'rank': 20, 'name': 'Denver Nuggets', 'games': 82, 'wins': 36, 'loses': 46, 'points': 104.4, 'season': 2013}
{'rank': 21, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 34, 'loses': 48, 'points': 99.7, 'season': 2013}
{'rank': 22, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 33, 'loses': 49, 'points': 98.2, 'season': 2013}
{'rank': 23, 'name': 'Detroit Pistons', 'games': 82, 'wins': 29, 'loses': 53, 'points': 101.0, 'season': 2013}
{'rank': 24, 'name': 'Sacramento Kings', 'games': 82, 'wins': 28, 'loses': 54, 'points': 100.5, 'season': 2013}
{'rank': 25, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 27, 'loses': 55, 'points': 103.0, 'season': 2013}
{'rank': 26, 'name': 'Boston Celtics', 'games': 82, 'wins': 25, 'loses': 57, 'points': 96.2, 'season': 2013}
{'rank': 26, 'name': 'Utah Jazz', 'games': 82, 'wins': 25, 'loses': 57, 'points': 95.0, 'season': 2013}
{'rank': 28, 'name': 'Orlando Magic', 'games': 82, 'wins': 23, 'loses': 59, 'points': 96.5, 'season': 2013}
{'rank': 29, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 19, 'loses': 63, 'points': 99.5, 'season': 2013}
{'rank': 30, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 15, 'loses': 67, 'points': 95.5, 'season': 2013}
{'rank': 1, 'name': 'Golden State Warriors', 'games': 82, 'wins': 67, 'loses': 15, 'points': 110.0, 'season': 2014}
{'rank': 2, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 60, 'loses': 22, 'points': 102.5, 'season': 2014}
{'rank': 3, 'name': 'Houston Rockets', 'games': 82, 'wins': 56, 'loses': 26, 'points': 103.9, 'season': 2014}
{'rank': 3, 'name': 'Los Angeles Clippers', 'games': 82, 'wins': 56, 'loses': 26, 'points': 106.7, 'season': 2014}
{'rank': 5, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 55, 'loses': 27, 'points': 98.3, 'season': 2014}
{'rank': 5, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 55, 'loses': 27, 'points': 103.2, 'season': 2014}
{'rank': 7, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 53, 'loses': 29, 'points': 103.1, 'season': 2014}
{'rank': 8, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 51, 'loses': 31, 'points': 102.8, 'season': 2014}
{'rank': 9, 'name': 'Chicago Bulls', 'games': 82, 'wins': 50, 'loses': 32, 'points': 100.8, 'season': 2014}
{'rank': 9, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 50, 'loses': 32, 'points': 105.2, 'season': 2014}
{'rank': 11, 'name': 'Toronto Raptors', 'games': 82, 'wins': 49, 'loses': 33, 'points': 104.0, 'season': 2014}
{'rank': 12, 'name': 'Washington Wizards', 'games': 82, 'wins': 46, 'loses': 36, 'points': 98.5, 'season': 2014}
{'rank': 13, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 45, 'loses': 37, 'points': 99.4, 'season': 2014}
{'rank': 13, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 45, 'loses': 37, 'points': 104.0, 'season': 2014}
{'rank': 15, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 41, 'loses': 41, 'points': 97.8, 'season': 2014}
{'rank': 16, 'name': 'Boston Celtics', 'games': 82, 'wins': 40, 'loses': 42, 'points': 101.4, 'season': 2014}
{'rank': 17, 'name': 'Phoenix Suns', 'games': 82, 'wins': 39, 'loses': 43, 'points': 102.4, 'season': 2014}
{'rank': 18, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 38, 'loses': 44, 'points': 98.0, 'season': 2014}
{'rank': 18, 'name': 'Indiana Pacers', 'games': 82, 'wins': 38, 'loses': 44, 'points': 97.3, 'season': 2014}
{'rank': 18, 'name': 'Utah Jazz', 'games': 82, 'wins': 38, 'loses': 44, 'points': 95.1, 'season': 2014}
{'rank': 21, 'name': 'Miami Heat', 'games': 82, 'wins': 37, 'loses': 45, 'points': 94.7, 'season': 2014}
{'rank': 22, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 33, 'loses': 49, 'points': 94.2, 'season': 2014}
{'rank': 23, 'name': 'Detroit Pistons', 'games': 82, 'wins': 32, 'loses': 50, 'points': 98.5, 'season': 2014}
{'rank': 24, 'name': 'Denver Nuggets', 'games': 82, 'wins': 30, 'loses': 52, 'points': 101.5, 'season': 2014}
{'rank': 25, 'name': 'Sacramento Kings', 'games': 82, 'wins': 29, 'loses': 53, 'points': 101.3, 'season': 2014}
{'rank': 26, 'name': 'Orlando Magic', 'games': 82, 'wins': 25, 'loses': 57, 'points': 95.7, 'season': 2014}
{'rank': 27, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 21, 'loses': 61, 'points': 98.5, 'season': 2014}
{'rank': 28, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 18, 'loses': 64, 'points': 92.0, 'season': 2014}
{'rank': 29, 'name': 'New York Knicks', 'games': 82, 'wins': 17, 'loses': 65, 'points': 91.9, 'season': 2014}
{'rank': 30, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 16, 'loses': 66, 'points': 97.8, 'season': 2014}

{'rank': 1, 'name': 'Golden State Warriors', 'games': 82, 'wins': 73, 'loses': 9, 'points': 114.9, 'season': 2015}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 67, 'loses': 15, 'points': 103.5, 'season': 2015}
{'rank': 3, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 57, 'loses': 25, 'points': 104.3, 'season': 2015}
{'rank': 4, 'name': 'Toronto Raptors', 'games': 82, 'wins': 56, 'loses': 26, 'points': 102.7, 'season': 2015}
{'rank': 5, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 55, 'loses': 27, 'points': 110.2, 'season': 2015}
{'rank': 6, 'name': 'LA Clippers', 'games': 82, 'wins': 53, 'loses': 29, 'points': 104.5, 'season': 2015}
{'rank': 7, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 48, 'loses': 34, 'points': 102.8, 'season': 2015}
{'rank': 7, 'name': 'Boston Celtics', 'games': 82, 'wins': 48, 'loses': 34, 'points': 105.7, 'season': 2015}
{'rank': 7, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 48, 'loses': 34, 'points': 103.4, 'season': 2015}
{'rank': 7, 'name': 'Miami Heat', 'games': 82, 'wins': 48, 'loses': 34, 'points': 100.0, 'season': 2015}
{'rank': 11, 'name': 'Indiana Pacers', 'games': 82, 'wins': 45, 'loses': 37, 'points': 102.2, 'season': 2015}
{'rank': 12, 'name': 'Detroit Pistons', 'games': 82, 'wins': 44, 'loses': 38, 'points': 102.0, 'season': 2015}
{'rank': 12, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 44, 'loses': 38, 'points': 105.1, 'season': 2015}
{'rank': 14, 'name': 'Chicago Bulls', 'games': 82, 'wins': 42, 'loses': 40, 'points': 101.6, 'season': 2015}
{'rank': 14, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 42, 'loses': 40, 'points': 102.3, 'season': 2015}
{'rank': 14, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 42, 'loses': 40, 'points': 99.1, 'season': 2015}
{'rank': 17, 'name': 'Houston Rockets', 'games': 82, 'wins': 41, 'loses': 41, 'points': 106.5, 'season': 2015}
{'rank': 17, 'name': 'Washington Wizards', 'games': 82, 'wins': 41, 'loses': 41, 'points': 104.1, 'season': 2015}
{'rank': 19, 'name': 'Utah Jazz', 'games': 82, 'wins': 40, 'loses': 42, 'points': 97.7, 'season': 2015}
{'rank': 20, 'name': 'Orlando Magic', 'games': 82, 'wins': 35, 'loses': 47, 'points': 102.1, 'season': 2015}
{'rank': 21, 'name': 'Denver Nuggets', 'games': 82, 'wins': 33, 'loses': 49, 'points': 101.9, 'season': 2015}
{'rank': 21, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 99.0, 'season': 2015}
{'rank': 21, 'name': 'Sacramento Kings', 'games': 82, 'wins': 33, 'loses': 49, 'points': 106.6, 'season': 2015}
{'rank': 24, 'name': 'New York Knicks', 'games': 82, 'wins': 32, 'loses': 50, 'points': 98.4, 'season': 2015}
{'rank': 25, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 30, 'loses': 52, 'points': 102.7, 'season': 2015}
{'rank': 26, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 29, 'loses': 53, 'points': 102.4, 'season': 2015}
{'rank': 27, 'name': 'Phoenix Suns', 'games': 82, 'wins': 23, 'loses': 59, 'points': 100.9, 'season': 2015}
{'rank': 28, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 21, 'loses': 61, 'points': 98.6, 'season': 2015}
{'rank': 29, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 17, 'loses': 65, 'points': 97.3, 'season': 2015}
{'rank': 30, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 10, 'loses': 72, 'points': 97.4, 'season': 2015}
{'rank': 1, 'name': 'Golden State Warriors', 'games': 82, 'wins': 67, 'loses': 15, 'points': 115.9, 'season': 2016}
{'rank': 2, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 61, 'loses': 21, 'points': 105.3, 'season': 2016}
{'rank': 3, 'name': 'Houston Rockets', 'games': 82, 'wins': 55, 'loses': 27, 'points': 115.3, 'season': 2016}
{'rank': 4, 'name': 'Boston Celtics', 'games': 82, 'wins': 53, 'loses': 29, 'points': 108.0, 'season': 2016}
{'rank': 5, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 51, 'loses': 31, 'points': 110.3, 'season': 2016}
{'rank': 5, 'name': 'LA Clippers', 'games': 82, 'wins': 51, 'loses': 31, 'points': 108.7, 'season': 2016}
{'rank': 5, 'name': 'Toronto Raptors', 'games': 82, 'wins': 51, 'loses': 31, 'points': 106.9, 'season': 2016}
{'rank': 5, 'name': 'Utah Jazz', 'games': 82, 'wins': 51, 'loses': 31, 'points': 100.7, 'season': 2016}
{'rank': 9, 'name': 'Washington Wizards', 'games': 82, 'wins': 49, 'loses': 33, 'points': 109.2, 'season': 2016}
{'rank': 10, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 47, 'loses': 35, 'points': 106.6, 'season': 2016}
{'rank': 11, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 43, 'loses': 39, 'points': 103.2, 'season': 2016}
{'rank': 11, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 43, 'loses': 39, 'points': 100.5, 'season': 2016}
{'rank': 13, 'name': 'Indiana Pacers', 'games': 82, 'wins': 42, 'loses': 40, 'points': 105.1, 'season': 2016}
{'rank': 13, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 42, 'loses': 40, 'points': 103.6, 'season': 2016}
{'rank': 15, 'name': 'Chicago Bulls', 'games': 82, 'wins': 41, 'loses': 41, 'points': 102.9, 'season': 2016}
{'rank': 15, 'name': 'Miami Heat', 'games': 82, 'wins': 41, 'loses': 41, 'points': 103.2, 'season': 2016}
{'rank': 15, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 41, 'loses': 41, 'points': 107.9, 'season': 2016}
{'rank': 18, 'name': 'Denver Nuggets', 'games': 82, 'wins': 40, 'loses': 42, 'points': 111.7, 'season': 2016}
{'rank': 19, 'name': 'Detroit Pistons', 'games': 82, 'wins': 37, 'loses': 45, 'points': 101.3, 'season': 2016}
{'rank': 20, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 36, 'loses': 46, 'points': 104.9, 'season': 2016}
{'rank': 21, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 34, 'loses': 48, 'points': 104.3, 'season': 2016}
{'rank': 22, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 97.9, 'season': 2016}
{'rank': 23, 'name': 'Sacramento Kings', 'games': 82, 'wins': 32, 'loses': 50, 'points': 102.8, 'season': 2016}
{'rank': 24, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 31, 'loses': 51, 'points': 105.6, 'season': 2016}
{'rank': 24, 'name': 'New York Knicks', 'games': 82, 'wins': 31, 'loses': 51, 'points': 104.3, 'season': 2016}
{'rank': 26, 'name': 'Orlando Magic', 'games': 82, 'wins': 29, 'loses': 53, 'points': 101.1, 'season': 2016}
{'rank': 27, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 28, 'loses': 54, 'points': 102.4, 'season': 2016}
{'rank': 28, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 26, 'loses': 56, 'points': 104.6, 'season': 2016}
{'rank': 29, 'name': 'Phoenix Suns', 'games': 82, 'wins': 24, 'loses': 58, 'points': 107.7, 'season': 2016}
{'rank': 30, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 20, 'loses': 62, 'points': 105.8, 'season': 2016}
{'rank': 1, 'name': 'Houston Rockets', 'games': 82, 'wins': 65, 'loses': 17, 'points': 112.4, 'season': 2017}
{'rank': 2, 'name': 'Toronto Raptors', 'games': 82, 'wins': 59, 'loses': 23, 'points': 111.7, 'season': 2017}
{'rank': 3, 'name': 'Golden State Warriors', 'games': 82, 'wins': 58, 'loses': 24, 'points': 113.5, 'season': 2017}
{'rank': 4, 'name': 'Boston Celtics', 'games': 82, 'wins': 55, 'loses': 27, 'points': 104.0, 'season': 2017}
{'rank': 5, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 52, 'loses': 30, 'points': 109.8, 'season': 2017}
{'rank': 6, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 50, 'loses': 32, 'points': 110.9, 'season': 2017}
{'rank': 7, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 49, 'loses': 33, 'points': 105.6, 'season': 2017}
{'rank': 8, 'name': 'Indiana Pacers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 105.6, 'season': 2017}
{'rank': 8, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 48, 'loses': 34, 'points': 111.7, 'season': 2017}
{'rank': 8, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 48, 'loses': 34, 'points': 107.9, 'season': 2017}
{'rank': 8, 'name': 'Utah Jazz', 'games': 82, 'wins': 48, 'loses': 34, 'points': 104.1, 'season': 2017}
{'rank': 12, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 47, 'loses': 35, 'points': 109.5, 'season': 2017}
{'rank': 12, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 47, 'loses': 35, 'points': 102.7, 'season': 2017}
{'rank': 14, 'name': 'Denver Nuggets', 'games': 82, 'wins': 46, 'loses': 36, 'points': 110.0, 'season': 2017}
{'rank': 15, 'name': 'Miami Heat', 'games': 82, 'wins': 44, 'loses': 38, 'points': 103.4, 'season': 2017}
{'rank': 15, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 44, 'loses': 38, 'points': 106.5, 'season': 2017}
{'rank': 17, 'name': 'Washington Wizards', 'games': 82, 'wins': 43, 'loses': 39, 'points': 106.6, 'season': 2017}
{'rank': 18, 'name': 'LA Clippers', 'games': 82, 'wins': 42, 'loses': 40, 'points': 109.0, 'season': 2017}
{'rank': 19, 'name': 'Detroit Pistons', 'games': 82, 'wins': 39, 'loses': 43, 'points': 103.8, 'season': 2017}
{'rank': 20, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 36, 'loses': 46, 'points': 108.2, 'season': 2017}
{'rank': 21, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 35, 'loses': 47, 'points': 108.1, 'season': 2017}
{'rank': 22, 'name': 'New York Knicks', 'games': 82, 'wins': 29, 'loses': 53, 'points': 104.5, 'season': 2017}
{'rank': 23, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 28, 'loses': 54, 'points': 106.6, 'season': 2017}
{'rank': 24, 'name': 'Chicago Bulls', 'games': 82, 'wins': 27, 'loses': 55, 'points': 102.9, 'season': 2017}
{'rank': 24, 'name': 'Sacramento Kings', 'games': 82, 'wins': 27, 'loses': 55, 'points': 98.8, 'season': 2017}
{'rank': 26, 'name': 'Orlando Magic', 'games': 82, 'wins': 25, 'loses': 57, 'points': 103.4, 'season': 2017}
{'rank': 27, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 24, 'loses': 58, 'points': 103.4, 'season': 2017}
{'rank': 27, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 24, 'loses': 58, 'points': 102.3, 'season': 2017}
{'rank': 29, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 22, 'loses': 60, 'points': 99.3, 'season': 2017}
{'rank': 30, 'name': 'Phoenix Suns', 'games': 82, 'wins': 21, 'loses': 61, 'points': 103.9, 'season': 2017}

{'rank': 1, 'name': 'Milwaukee Bucks', 'games': 82, 'wins': 60, 'loses': 22, 'points': 118.1, 'season': 2018}
{'rank': 2, 'name': 'Toronto Raptors', 'games': 82, 'wins': 58, 'loses': 24, 'points': 114.4, 'season': 2018}
{'rank': 3, 'name': 'Golden State Warriors', 'games': 82, 'wins': 57, 'loses': 25, 'points': 117.7, 'season': 2018}
{'rank': 4, 'name': 'Denver Nuggets', 'games': 82, 'wins': 54, 'loses': 28, 'points': 110.7, 'season': 2018}
{'rank': 5, 'name': 'Houston Rockets', 'games': 82, 'wins': 53, 'loses': 29, 'points': 113.9, 'season': 2018}
{'rank': 5, 'name': 'Portland Trail Blazers', 'games': 82, 'wins': 53, 'loses': 29, 'points': 114.7, 'season': 2018}
{'rank': 7, 'name': 'Philadelphia 76ers', 'games': 82, 'wins': 51, 'loses': 31, 'points': 115.2, 'season': 2018}
{'rank': 8, 'name': 'Utah Jazz', 'games': 82, 'wins': 50, 'loses': 32, 'points': 111.7, 'season': 2018}
{'rank': 9, 'name': 'Boston Celtics', 'games': 82, 'wins': 49, 'loses': 33, 'points': 112.4, 'season': 2018}
{'rank': 9, 'name': 'Oklahoma City Thunder', 'games': 82, 'wins': 49, 'loses': 33, 'points': 114.5, 'season': 2018}
{'rank': 11, 'name': 'Indiana Pacers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 108.0, 'season': 2018}
{'rank': 11, 'name': 'LA Clippers', 'games': 82, 'wins': 48, 'loses': 34, 'points': 115.1, 'season': 2018}
{'rank': 11, 'name': 'San Antonio Spurs', 'games': 82, 'wins': 48, 'loses': 34, 'points': 111.7, 'season': 2018}
{'rank': 14, 'name': 'Brooklyn Nets', 'games': 82, 'wins': 42, 'loses': 40, 'points': 112.2, 'season': 2018}
{'rank': 14, 'name': 'Orlando Magic', 'games': 82, 'wins': 42, 'loses': 40, 'points': 107.3, 'season': 2018}
{'rank': 16, 'name': 'Detroit Pistons', 'games': 82, 'wins': 41, 'loses': 41, 'points': 107.0, 'season': 2018}
{'rank': 17, 'name': 'Charlotte Hornets', 'games': 82, 'wins': 39, 'loses': 43, 'points': 110.7, 'season': 2018}
{'rank': 17, 'name': 'Miami Heat', 'games': 82, 'wins': 39, 'loses': 43, 'points': 105.7, 'season': 2018}
{'rank': 17, 'name': 'Sacramento Kings', 'games': 82, 'wins': 39, 'loses': 43, 'points': 114.2, 'season': 2018}
{'rank': 20, 'name': 'Los Angeles Lakers', 'games': 82, 'wins': 37, 'loses': 45, 'points': 111.8, 'season': 2018}
{'rank': 21, 'name': 'Minnesota Timberwolves', 'games': 82, 'wins': 36, 'loses': 46, 'points': 112.5, 'season': 2018}
{'rank': 22, 'name': 'Dallas Mavericks', 'games': 82, 'wins': 33, 'loses': 49, 'points': 108.9, 'season': 2018}
{'rank': 22, 'name': 'Memphis Grizzlies', 'games': 82, 'wins': 33, 'loses': 49, 'points': 103.5, 'season': 2018}
{'rank': 22, 'name': 'New Orleans Pelicans', 'games': 82, 'wins': 33, 'loses': 49, 'points': 115.4, 'season': 2018}
{'rank': 25, 'name': 'Washington Wizards', 'games': 82, 'wins': 32, 'loses': 50, 'points': 114.0, 'season': 2018}
{'rank': 26, 'name': 'Atlanta Hawks', 'games': 82, 'wins': 29, 'loses': 53, 'points': 113.3, 'season': 2018}
{'rank': 27, 'name': 'Chicago Bulls', 'games': 82, 'wins': 22, 'loses': 60, 'points': 104.9, 'season': 2018}
{'rank': 28, 'name': 'Cleveland Cavaliers', 'games': 82, 'wins': 19, 'loses': 63, 'points': 104.5, 'season': 2018}
{'rank': 28, 'name': 'Phoenix Suns', 'games': 82, 'wins': 19, 'loses': 63, 'points': 107.5, 'season': 2018}
{'rank': 30, 'name': 'New York Knicks', 'games': 82, 'wins': 17, 'loses': 65, 'points': 104.6, 'season': 2018}
{'rank': 1, 'name': 'Milwaukee Bucks', 'games': 65, 'wins': 53, 'loses': 12, 'points': 118.6, 'season': 2019}
{'rank': 2, 'name': 'Los Angeles Lakers', 'games': 63, 'wins': 49, 'loses': 14, 'points': 114.3, 'season': 2019}
{'rank': 3, 'name': 'Toronto Raptors', 'games': 64, 'wins': 46, 'loses': 18, 'points': 113.0, 'season': 2019}
{'rank': 4, 'name': 'LA Clippers', 'games': 64, 'wins': 44, 'loses': 20, 'points': 116.2, 'season': 2019}
{'rank': 5, 'name': 'Boston Celtics', 'games': 64, 'wins': 43, 'loses': 21, 'points': 113.0, 'season': 2019}
{'rank': 6, 'name': 'Denver Nuggets', 'games': 65, 'wins': 43, 'loses': 22, 'points': 110.4, 'season': 2019}
{'rank': 7, 'name': 'Utah Jazz', 'games': 64, 'wins': 41, 'loses': 23, 'points': 111.0, 'season': 2019}
{'rank': 8, 'name': 'Miami Heat', 'games': 65, 'wins': 41, 'loses': 24, 'points': 112.2, 'season': 2019}
{'rank': 9, 'name': 'Houston Rockets', 'games': 64, 'wins': 40, 'loses': 24, 'points': 118.1, 'season': 2019}
{'rank': 9, 'name': 'Oklahoma City Thunder', 'games': 64, 'wins': 40, 'loses': 24, 'points': 110.8, 'season': 2019}
{'rank': 11, 'name': 'Indiana Pacers', 'games': 65, 'wins': 39, 'loses': 26, 'points': 109.3, 'season': 2019}
{'rank': 11, 'name': 'Philadelphia 76ers', 'games': 65, 'wins': 39, 'loses': 26, 'points': 109.6, 'season': 2019}
{'rank': 13, 'name': 'Dallas Mavericks', 'games': 67, 'wins': 40, 'loses': 27, 'points': 116.4, 'season': 2019}
{'rank': 14, 'name': 'Memphis Grizzlies', 'games': 65, 'wins': 32, 'loses': 33, 'points': 112.6, 'season': 2019}
{'rank': 15, 'name': 'Brooklyn Nets', 'games': 64, 'wins': 30, 'loses': 34, 'points': 110.8, 'season': 2019}
{'rank': 16, 'name': 'Orlando Magic', 'games': 65, 'wins': 30, 'loses': 35, 'points': 106.4, 'season': 2019}
{'rank': 17, 'name': 'Portland Trail Blazers', 'games': 66, 'wins': 29, 'loses': 37, 'points': 113.6, 'season': 2019}
{'rank': 18, 'name': 'New Orleans Pelicans', 'games': 64, 'wins': 28, 'loses': 36, 'points': 116.2, 'season': 2019}
{'rank': 18, 'name': 'Sacramento Kings', 'games': 64, 'wins': 28, 'loses': 36, 'points': 109.0, 'season': 2019}
{'rank': 20, 'name': 'San Antonio Spurs', 'games': 63, 'wins': 27, 'loses': 36, 'points': 113.2, 'season': 2019}
{'rank': 21, 'name': 'Phoenix Suns', 'games': 65, 'wins': 26, 'loses': 39, 'points': 112.6, 'season': 2019}
{'rank': 22, 'name': 'Washington Wizards', 'games': 64, 'wins': 24, 'loses': 40, 'points': 115.6, 'season': 2019}
{'rank': 23, 'name': 'Charlotte Hornets', 'games': 65, 'wins': 23, 'loses': 42, 'points': 102.9, 'season': 2019}
{'rank': 24, 'name': 'Chicago Bulls', 'games': 65, 'wins': 22, 'loses': 43, 'points': 106.8, 'season': 2019}
{'rank': 25, 'name': 'New York Knicks', 'games': 66, 'wins': 21, 'loses': 45, 'points': 105.8, 'season': 2019}
{'rank': 26, 'name': 'Detroit Pistons', 'games': 66, 'wins': 20, 'loses': 46, 'points': 107.2, 'season': 2019}
{'rank': 27, 'name': 'Atlanta Hawks', 'games': 67, 'wins': 20, 'loses': 47, 'points': 111.8, 'season': 2019}
{'rank': 28, 'name': 'Minnesota Timberwolves', 'games': 64, 'wins': 19, 'loses': 45, 'points': 113.3, 'season': 2019}
{'rank': 29, 'name': 'Cleveland Cavaliers', 'games': 65, 'wins': 19, 'loses': 46, 'points': 106.9, 'season': 2019}
{'rank': 30, 'name': 'Golden State Warriors', 'games': 65, 'wins': 15, 'loses': 50, 'points': 106.3, 'season': 2019}